* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

html, body, main {
  height: auto;
  min-height: 100vh;
}

html body aside, html body main {
  background-color: #4b4875;
}
html body aside {
  position: fixed;
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba(165, 165, 165, 0.3);
}
html body aside svg {
  width: 100%;
  max-height: 170px;
  height: auto;
}
html body aside ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20%;
}
html body aside ul.secondary__menu {
  bottom: 10%;
  position: absolute;
}
html body aside ul li {
  width: 100%;
  list-style: none;
  margin-bottom: 10px;
}
html body aside ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  opacity: 0.8;
  display: flex;
  transition: 150ms;
}
html body aside ul li a:hover {
  opacity: 1;
}
html body aside ul li a i {
  margin-right: 5px;
}
html body h1, html body h2, html body h3 {
  color: white;
}
html body .notification {
  width: 100%;
  border-radius: 15px;
  height: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0;
  color: white;
  transition: 200ms;
}
html body .notification.is-active {
  height: 30px;
  opacity: 1;
}
html body .notification.error {
  background-color: #A53C65;
  border: 1px solid #98375c;
}
html body .notification.error:hover {
  background-color: #98375c;
}
html body .notification.success {
  background-color: #3ca574;
  border: 1px solid #329064;
}
html body .notification.success:hover {
  background-color: #329064;
}
html body .card {
  padding: 10px;
  background-color: #45426C;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}
html body .card h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #e0e0e0c5;
}
html body .card span {
  color: white;
  font-weight: 300;
}
html body main {
  width: 70%;
  left: 30%;
  position: relative;
  padding: 25px 2.5%;
}
html body main.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body main > h1 {
  margin-bottom: 25px;
}
html body main h2 {
  margin-bottom: 10px;
}

.spinner-border, i {
  display: none !important;
}
.spinner-border.is-active, i.is-active {
  display: block !important;
}
.spinner-border.small, i.small {
  width: 1rem !important;
  height: 1rem !important;
  border-width: 0.15rem !important;
}

input, textarea, button {
  border: 1px solid transparent;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  height: 35px;
  outline: none;
}

input, select, textarea {
  margin-bottom: 10px;
  width: 100%;
  color: #4b4875;
  transition: 150ms;
}
input::placeholder, select::placeholder, textarea::placeholder {
  color: #45426cc5;
}
input:focus, select:focus, textarea:focus {
  height: 45px;
}

textarea {
  resize: vertical;
  height: 200px;
}
textarea:focus {
  height: 245px;
}

label {
  color: white;
  align-self: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
form.w-100 {
  margin: 0;
  width: 100%;
}
form h1 {
  margin-bottom: 10px;
}
form .form-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
form .form-space-between a {
  color: #e0e0e0c5;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
}
form .form-space-between a:hover {
  text-decoration: underline;
}

.modal-background {
  height: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: -999;
  background: #45426cc5;
  opacity: 0;
  transition: 300ms;
}
.modal-background.is-active {
  z-index: 999;
  opacity: 1;
}
.modal-background i.close-modal {
  left: 97%;
  font-size: 30px;
  color: white;
  position: relative;
  cursor: pointer;
}
.modal-background .modal {
  border: 1px solid #45426cc5;
  background-color: #4b4875;
  margin: auto;
  border-radius: 15px;
  position: relative;
  top: -50%;
  padding: 30px 10px;
  width: 70%;
  box-shadow: 1px 1px 24px -20px black;
  transition: 300ms;
}
.modal-background .modal.is-active {
  top: 10%;
}

html body main.blog .article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
html body main.blog .article-container .card {
  height: 250px;
  width: 33.3%;
  min-width: 300px;
  padding: 0;
  overflow: hidden;
  margin: 10px;
  position: relative;
  opacity: 1;
  box-shadow: 0 0 31px -25px transparent;
  transition: 300ms;
}
html body main.blog .article-container .card:first-child {
  margin-left: 0;
}
html body main.blog .article-container .card:hover {
  opacity: 0.9;
  box-shadow: 0 0 31px -25px white;
}
html body main.blog .article-container .card:hover .cover {
  background-size: 103%;
}
html body main.blog .article-container .card a {
  height: 100%;
  width: 100%;
  position: absolute;
}
html body main.blog .article-container .card .cover {
  height: 70%;
  width: 100%;
  background-position: center;
  background-size: 100%;
  transition: 500ms;
}
html body main.blog .article-container .card .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 30%;
  width: 100%;
}
html body main.article h2 {
  color: #e0e0e0c5;
}
html body main.article .small-text {
  color: white;
  font-size: 12px;
  font-weight: 300;
}
html body main.article .cover {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0;
  border-radius: 2px;
}
html body main.article button.add-comment {
  margin-top: 25px;
}
html body main.article form {
  display: none;
}
html body main.article form.is-active {
  display: flex;
  margin: 0;
  margin-top: 10px;
}
html body main.article .not-connected {
  display: flex;
  margin-top: 25px;
}
html body main.article .not-connected i {
  margin-right: 10px;
}
html body main.article .not-connected i, html body main.article .not-connected span {
  color: #e0e0e0c5;
  font-size: 13px;
}
html body main.article .comment-list .comment .top {
  display: flex;
  align-items: center;
}
html body main.article .comment-list .comment .top h6 {
  color: #e0e0e0c5;
  font-size: 13px;
}
html body main.article .comment-list .comment .top small {
  margin-left: 5px;
  font-size: 11px;
  font-weight: 100;
  color: white;
}

a.btn {
  text-decoration: none;
}

button {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;
  color: white;
  transition: 150ms;
}
button .spinner-border, button i {
  margin-right: 5px;
}
button.red-btn {
  background-color: #A53C65;
}
button.red-btn .spinner-border, button.red-btn i {
  color: white;
}
button.red-btn:hover {
  background-color: #98375c;
}
button.green-btn {
  background-color: #3ca574;
}
button.green-btn .spinner-border, button.green-btn i {
  color: white;
}
button.green-btn:hover {
  background-color: #329064;
}

/*@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");*/
@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: 0.75s linear infinite spinner-grow;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
.spinner-grow {
    animation-duration: 1.5s;
  }
}

/*# sourceMappingURL=__mixin.css.map */
