html {
    body {
        main {
            &.blog {
                .btn-group {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }

            &.article {
                h2 {
                    color: $th-grey;
                    font-size: 22px;
                    margin-bottom: 25px;
                }

                p {
                    color: white;
                    margin-top: 10px;
                }

                .btn-group {
                    display: flex;
                    margin-bottom: 25px;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;

                    button {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }

                .small-text {
                    color: white;
                    font-size: 12px;
                    font-weight: 300;
                }

                .cover {
                    height: 300px;
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 10px 0;
                    border-radius: 2px;
                }

                button {
                    &.add-comment {
                        margin-top: 25px;
                    }
                }

                form {
                    display: none;
                    margin-bottom: 25px !important;

                    &.is-active {
                        display: flex;
                        margin: 0;
                        margin-top: 10px;
                    }
                }

                .not-connected {
                    display: flex;
                    margin-top: 25px;

                    i {
                        margin-right: 10px;
                    }

                    i,
                    span {
                        color: $th-grey;
                        font-size: 13px;
                    }
                }

                .not-connected, .add-comment {
                    margin-bottom: 25px;
                }

                .comment-list {
                    .comment {
                        .top {
                            display: flex;
                            align-items: center;
                            position: relative;
                            width: 100%;
                            
                            h6 {
                                color: $th-grey;
                                font-size: 13px;
                            }

                            small {
                                margin-left: 5px;
                                font-size: 11px;
                                font-weight: 100;
                                color: white;
                            }

                            button {
                                &.validate-btn {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }

            &.update-article {
                form {
                    img {
                        width: 50%;
                        border-radius: $th-border-radius;
                        margin: 10px 0;
                        align-self: flex-start;
                    }
                }
            }
        }
    }
}

@media (max-width: $th-mobile) {
    html {
        body {
            main {
                &.blog {
                    h1,
                    .articles-container {
                        padding: 0 5%;
                    }
                }

                &.article {
                    h1,
                    h2,
                    span,
                    p,
                    .not-connected {
                        padding: 0 5%;
                    }
                }
            }
        }
    }
}