main {
    &.contact {
        form {
            width: 100%;
            align-items: flex-start;

            .card-container {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 25px;

                .card {
                    width: 33.3%;
                    min-width: 210px;
                    max-width: 400px;
                    align-items: center;
                    margin: 10px;
                }
            }
        }
    }
}

@media (max-width: $th-mobile) {
    main {
        &.contact {
            form {
                .card-container {
                    flex-direction: column;
    
                    .card {
                        width: 100%;
                        margin: 5px 0 5px 0;
                    }
                }
            }
        }
    }
}