input,
textarea,
button,
select {
    border: 1px solid transparent;
    background-color: white;
    border-radius: $th-border-radius;
    padding: 10px;
    height: 35px;
    outline: none;
}

select {
    padding: 5px;
}

input,
select,
textarea {
    margin-bottom: 10px;
    width: 100%;
    color: $th-main;
    transition: 150ms;

    &::placeholder {
        color: $th-light;
    }

    &:focus {
        height: 45px;
    }
}

textarea {
    resize: vertical;
    height: 200px;

    &:focus {
        height: 245px;
    }
}

label {
    color: white;
    align-self: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;

    &.w-100 {
        margin: 0;
        width: 100%;
    }

    h1 {
        margin-bottom: 10px;
    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        input {
            width: 49%;
        }
    }

    .form-space-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        a {
            color: $th-grey;
            text-decoration: none;
            font-size: 13px;
            font-weight: 300;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


@media (max-width: $th-mobile) {
    form {
        width: 100%;

        button {
            width: 100%;
        }
    }

    button {
        max-width: unset;
    }
}