html {
    body {
        main {
            &.home {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                section {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 25px;

                    &.top-section {
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 95vh;
                        position: relative;

                        .card {
                            border-radius: 100%;
                            height: 250px;
                            width: 250px;
                            align-items: center;
                            overflow: hidden;
                            box-shadow: inset 7px 7px 20px #3d3a5f, inset -7px -7px 20px #59568b;

                            &:hover {
                                img {
                                    filter: drop-shadow(16px -30px 5px #00000040);
                                }
                            }

                            img {
                                height: 250px;
                                width: 250px;
                                border-radius: 100%;
                                filter: drop-shadow(6px -20px 5px #00000040);
                            }
                        }
        
                        h1 {
                            margin-bottom: 5px;
                            letter-spacing: 1px;
                        }
        
                        h2 {
                            font-weight: 100;
                            font-size: 18px;
                            margin: 0;
                        }
        
                        .social-networks-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 5px;
        
                            div {
                                margin: 0 10px;
        
                                i {
                                    color: white;
                                    font-size: 25px;
                                    opacity: 0.8;
                                    cursor: pointer;
                                    transition: 300ms;
        
                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        
                        a {
                            &.btn-container {
                                width: 25%;

                                .red-btn {
                                    align-self: center;
                                    position: absolute;
                                    bottom: 17%;
                                    z-index: 2;
                                    animation: 2.800s buttonAnimation infinite;
                                }
                            }
                        }
        
                        .arrow-bottom {
                            position: absolute;
                            bottom: 17%;
                            animation: 2.800s arrowAnimation infinite;
                            z-index: 1;
                        }
                    }

                    &.last-articles {
                        align-items: flex-start;

                        a {
                            &.btn {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                            }
                        }

                        .articles-container {
                            width: 100%;
                            flex-wrap: unset;

                            .card {
                                min-width: 250px;
                            }
                        }
                    }

                    &.contact {
                        .form-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;

                            .img-container {
                                position: relative;
                                margin-right: 5px;

                                img {
                                    height: 150px;
                                    width: 150px;
                                }

                                .bar {
                                    height: 1px;
                                    width: 100%;
                                    box-shadow: 0 3px 20px 1px black;
                                    position: absolute;
                                    bottom: 4px;
                                    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(75,72,117,1) 100%);
                                }
                            }

                            form {
                                margin: 0;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1140px) {
    html {
        body {
            main {
                &.home {
                    section {
                        &.last-articles {
                            .articles-container {
                                .card {
                                    &:last-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: $th-mobile) {
    html {
        body {
            main {
                &.home {
                    section {
                        padding: 0 5%;

                        &.top-section {
                            a {
                                &.btn-container {
                                    width: 60%;

                                    button {
                                        width: 60%;
                                    }
                                }
                            }
                        }

                        &.contact {
                            .form-container {
                                flex-direction: column;

                                .contact {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}