.modal-background {
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -999;
    background: $th-light;
    opacity: 0;
    transition: 300ms;

    &.is-active {
        z-index: 999;
        opacity: 1;
    }

    i {
        &.close-modal {
            left: 97%;
            font-size: 30px;
            color: white;
            position: relative;
            cursor: pointer;
        }
    }

    .modal {
        border: 1px solid $th-light;
        background-color: $th-main;
        margin: auto;
        border-radius: $th-border-radius;
        position: relative;
        top: -50%;
        padding: 30px 10px;
        width: 70%;
        box-shadow: 1px 1px 24px -20px black;
        transition: 300ms;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.is-active {
            top: 10%;
        }

        .btn-group {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                max-width: 250px;
                width: 50%;
                margin: 10px;
            }
        }
    }
}