.spinner-border, i {
    display: none!important;

    &.is-active {
        display: block!important;
    }

    &.small {
        width: 1rem!important;
        height: 1rem!important;
        border-width: 0.15rem!important;
    }
}