$th-main: #4b4875;
$th-lighter-main: #45426C;
$th-background-modal: #4b4875d8;
$th-light: #45426cc5;
$th-red: #A53C65;
$th-green: #3ca574;
$th-green-hover: #329064;
$th-red-hover: #98375c;
$th-grey: #e0e0e0c5;
$th-grey-hover: #bdbdbdc5;
$th-link: #aaa4ff;
$th-border-radius: 15px;
$th-mobile: 800px;